.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--container-color);
    position: fixed; 
    z-index: var(--z-fixed);
    height: calc(var(--header-height) + 2.5rem);
    column-gap: 1rem;
    top: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.418);
    
}

.nav-logo{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav-logo:hover{
  color: var(--title-color-dark);
}

.nav-menu{
    display: flex;
    column-gap: 2rem;
}


.nav-menu li a{
    font-weight: var(--font-medium);
    color: var(--title-color);
    font-size: var(--h2-font-size);
    flex-direction: column;
    align-items: center;
    transition: .1s;
    
}

.nav-menu li a:hover {
  color: var(--body-color);   
}

.hvr-radial-in{
  padding: 0.3rem 0.6rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  background: var(--title-color-dark);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-radial-in:before {
  
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background: var(--container-color);
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
